			<div class="panel panel-default">
				<img class="avatar-massage" align="left"  src="../../static/avatar.jpg">
				<h3><a href="#">{{ answer.title }}</a></h3>
				<p class="margin10">{{ answer.text }}</p>
				  <div class="panel-body">
					  <!-- Лайк. Колличество. Дизлайк -->
					  <span>
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
						</button>
						<span>
							<a>{{ answer.rating }}</a>
						</span>
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
						</button>
					  </span>
					<span class="checkbox box position-left-300">
						<label>
							<input type="checkbox"> Correct!
						</label>
					</span>
				  </div>
			</div>	
