			<div class="panel panel-default">
				<img class="avatar-massage" align="left"  src="../../static/avatar.jpg">
				<h3><a href="{{ article.get_url }}">{{ article.title }}</a></h3>
				<p class="margin10">{{ article.text }}</p>
				  <div class="panel-body">
					  <!-- Лайк. Колличество. Дизлайк -->
					  <span>
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
						</button>
						<span>
							<a>{{ article.rating }}</a>
						</span>
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
						</button>
					  </span>
					<span class="count-ansver">
						<a>Answer (5)</a>
					</span>
					<span class="tags-massage">
						Tegs:
						<a href="{% url 'tag_john' %}"> john</a>
						<a href="{% url 'tag_john' %}"> Old</a>
					</span>
				  </div>
			</div>
