			<div class="col-md-8">				
				<h1> New Question  </h1>
				<h3>Title  </h3>		
				<input type="text" class="form-control" placeholder="Title input">
				<h4>Text  </h3>
				<textarea class="form-control" rows="3" placeholder="Text input"></textarea>
				<h4>Tags  </h3>		
				<input type="text" class="form-control" placeholder="Tags input">
				<h5 class="ToRed ">Вы не ввели теги</h5>
				<!-- Кнопка ASK белая -->
				<button type="button" class="btn btn-default btn-ask-write" href="#">ASK</a></button>
			</div>
