			       <div>
				<img class="avatar-massage margin10" align="left"  src="../../static/avatar.jpg">
				<h3><a href="#">How bla bla bla?</a></h3>
				<p class="margin10">Приехала в Лондон на практику. С английским не очень - в коротких предложениях, вроде, разбираюсь, а в длинных уже начинаю путаться. Сильно торопилась в музей, дороги не знала. Подбежала к парню в метро, хотела спросить, как добраться. Начала объяснять, переводить со словарём, показывать жестами, рисовать даже. Он явно видел, что с английским у меня плохо. Через 10 минут всё-таки объяснила. Он показал, как доехать. В конце я поблагодарила его на русском, а он, улыбаясь, сказал: "Беги уже, запыхалась вся, пока переводила". Чуть не убила суку.</p>
				  <div class="panel-body">
					  <!-- Лайк. Колличество. Дизлайк -->
					  <span>
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
						</button>
						<span>
							<a>10</a>
						</span>
						<button type="button" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
						</button>
					  </span>
					<span class="tags-massage">
						Tegs:
						<a href="{% url 'tag_john' %}"> New</a>
						<a href="{% url 'tag_john' %}"> Old</a>
					</span>
				  </div>
				</div>
